.divSus{
    margin-top: 210px;
    padding: 5px 5px 20px 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.column {
    float: left;
    padding: 10px;
   
}

.left {
  width: 15%;
  background-color:#f1f1d1;
  position:  fixed;
}

.right {
  width: 85%;
  background-color:#f3f3d8;
  margin-left: 200px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

body{
    background-color: #f1f1d1;
}